*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    
}

.header{
    position: static;
    background-color:rgb(212, 210, 210) ;
    width: 250px;
    height: 100%;
}

#hambarger{
    width: 30px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 16px;
    margin-bottom: 20px;
}

#youtubelogo{
    width: 130px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-bottom: 20px;
}

section img{
    width: 35px;
}

span{
    display: flex;
    align-items:flex-start;
    padding-top: 12px;
    cursor: pointer;
    margin-left: 15px;
}

p{
    margin-top: 10px;
    margin-left: 18px;
}

hr{
    margin-top: 20px;
    margin-bottom: 10px;
}

.page{
    background-color: #f1e8e8;
    margin-left:250px ;
    position: absolute;
    top: 0;
    padding-top: 5px;
    width:100%;

}

#voice,#lens{
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

#search{
    width: 550px;
    height: 37px;
    margin-left: 130px;
    margin-right: 20px;
    margin-top: 20px;
}

.icon{
    margin-top: 10px;
    margin-left:635px;
    position: relative;
    top: -45px;
}

nav img{
    width: 30px;
    display: inline;
    margin-left: 15px;
}

nav{
    position: relative;
    margin-left: 830px;
    margin-top: -80px;
}

.suggetions{
    position: absolute;
    margin-left:250px ;
    top: 72px;
    display: flex;
    border-bottom: grey solid 1px;    
}

.suggetions h2{
    font-weight: 100;
    font-size: medium;
    margin: 10px;
    border: none;
    outline: 0px;
    border-width: 5px;
    border-radius: 30px;
    padding: 5px;
    background-color: rgb(214, 214, 214);
}

.images{
    position:absolute;
    margin-left:254px ;
    top: 130px;
    
}

.images span{
    display:inline-block;
    width: 330px;
    margin-left: 3px;
    height: 210px;
    position: relative;
    
}

.div1{
    display: flex;
    margin-bottom: 15px;
}

.images .round{
    width: 330px;
    height: 180px;
    margin-top: -10px;
}

.images .smallround{
    width: 40px;
    margin: 4px;
}

w{
    position: relative;
    
}

h4{
    font-weight: 100;
    margin-left: 50px;
    margin-top: -34px;
}